<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBjZP5CIcGJs1k9Rd43ba2HZCzLuS6sz6M</string>
	<key>GCM_SENDER_ID</key>
	<string>532928377347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eyeCamApp</string>
	<key>PROJECT_ID</key>
	<string>eyecam-a570c</string>
	<key>STORAGE_BUCKET</key>
	<string>eyecam-a570c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532928377347:ios:4a040cc477b932ba051436</string>
</dict>
</plist>